<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadatrados</title>
</head>
<body>
    <h1>Valores Recebidos</h1>

    <p><strong>Nome:</strong> <%= nome %></p>
    <p><strong>Documento:</strong> <%= documento %></p>
    <p><strong>Endereço:</strong> <%= endereco %></p>

    <!-- Link para voltar ao formulário -->
    <a href="/">Voltar ao formulário</a>
</body>
</html>
